@import url('https://fonts.cdnfonts.com/css/inter');

body{
    max-height: 100vh;
    overflow-y: hidden;
}

.page-container {
    display: flex;
    height: 100vh;
    font-family: inter;
    overflow-y: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 .5rem gray;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu img {
    height: 39px;
    width: auto;
    margin-left: 5px;
    display: block;
    padding-bottom: 10px;
}

.sidebar-menu li {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sidebar-menu li:hover {
    background-color: #555;
}

.dashboardLeftSideTop {
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 10px
}

.dashboardLeftSideTop a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5A5A;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
    align-self: center;
}

.dashboardLeftSideTop a .icons {
    align-self: center;
    margin: auto;
    justify-self: center;
    font-size: large;
    margin-right: 10px;
    justify-content: center;
}

.dashboardLeftSideTop .menuLink {
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.dashboardLeftSideTop .menuLink:hover {
    background-color: #e9f2f9;
    cursor: pointer;
}

.dashboardLeftSideTop .menuLinkSelected {
    background-color: #E9F3FC;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.menuLinkBottom {
    margin-bottom: 10px
}

.menuLinkBottom a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5A5A;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
}

.menuLinkBottom a .icons {
    align-self: center;
    margin: auto;
    justify-self: center;
    font-size: medium;
    margin-right: 10px;
}

.menuLinkBottom .menuLink {
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.menuLinkBottom .menuLink:hover {
    background-color: #e9f2f9;
    cursor: pointer;
}

.menuLinkBottom .menuLinkSelected {
    background-color: #E9F3FC;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.sideBarBottom {
    margin-bottom: 10px
}

.sideBarBottom a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5A5A;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
}

.sideBarBottom a .icons {
    align-self: center;
    margin: auto;
    justify-self: center;
    font-size: medium;
    margin-right: 10px;
}

.sideBarBottom .menuLink {
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.sideBarBottom .menuLink:hover {
    background-color: #e9f2f9;
    cursor: pointer;
}

.sideBarBottom .menuLinkSelected {
    background-color: #E9F3FC;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.content {
    flex: 1;
    padding: 40px;
}


.contentHeader {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.headerText h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    font-family: inter;
}

.headerText h2 span {
    color: #595959;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    font-family: inter;
}

.headerSearchbox {
    height: 47px;
    align-self: center;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: #F2F2F2;
}

.headerHanger select{
    width: 50%;
}

.headerSearchbox::placeholder {
    padding-left: 20px;
}

.headerHanger {
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.headerHanger select {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.gameCurrency {
    display: flex;
    align-self: center;
    text-align: right;
}

.gameCurrency h4 {
    padding: 10px;
    font-weight: 400;
    font-family: inter;
    display: flex;
    align-self: center;
    font-size: 20px;
}

.gameCurrency h4 img {
    height: 25px;
    align-items: center;
    align-self: center;
    margin-top: 2px;
    margin-right: 3px;
}

.gameCurrency h4 .icons {
    font-size: larger;
    padding-right: 3px;
    color: #2389DE;
}

.gameCurrency h4 .icons-heart {
    font-size: larger;
    padding-right: 3px;
    color: red;
}

.cardContainer {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.leftCardBox {
    height: 65vh;
    width: 60%;
    flex-direction: column;
    overflow-y: scroll;
    padding: 20px;
    padding-left: 0;
    margin-top: 5px;
}

.rightCardBox {
    margin: 0;
    height: 65vh;
    width: 40%;
    overflow-y: scroll;
    padding: 0;
    padding-top: 17px;
    justify-content: end;
    margin-top: 5px;
}

.card {
    width: 80%;
    margin: auto;
    background-color: #F2F2F2;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 26px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-left: 17px;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-content: center;
    width: fit-content;
    justify-content: space-between;
}

.cardHeader h1 {
    font-size: 18px;
    align-self: center;
    color: #2389DE;
    padding-right: 10px;
}

.cardHeader a {
    align-content: end;
    color: #2389DE;
    padding-left: 10px;
}

.bullet {
    width: 14px;
    height: 14px;
    background-color: #2389DE;
    border-radius: 50%;
    align-self: center;
}

.cardBody {
    width: 100%;
    margin: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.progressBar {
    height: 15px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    margin-top: 0;
    padding-top: 0;
    box-shadow: 0 0 .05rem gray;
}

.progress {
    height: 15px;
    width: 33%;
    background-color: #2389DE;
    border-radius: 10px;
}

.bodyText h4 {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.bodyText h3 {
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.bodyImage img {
    height: 150px;
    width: auto;
}

.cardButton {
    margin-top: 25px;
}

.cardButton a {
    padding: 10px 15px;
    background-color: #2389DE;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}


.smallCard {
    width: 85%;
    margin-right: 0;
    padding-right: 0;
    background-color: #F2F2F2;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 26px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.smallCardTextBox {
    display: flex;
    flex-direction: column;
}

.smallCardTextBox h2 {
    font-size: 18px;
    font-family: inter;
}

.smallCardTextBox p {
    margin-top: 0;
    align-self: center;
}

.smallCardTextBox a {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #2389DE;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: fit-content;
    text-decoration: none;
}

.smallCard img {
    height: 100px;
    align-self: center;
}

.smallCard .trophyImage {
    height: 200px;
    align-self: center;
}

.smallCardTextBox .smallCardLink {
    color: #2389DE;
    background-color: transparent;
    padding-top: 30px;
    text-decoration: underline;
}


.advertCard {
    width: 85%;
    margin-right: 0;
    padding-right: 0;
    background-color: #F2F2F2;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 26px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.advertCardTextBox {
    width: 95%;
    margin-right: 5px;
    align-self: center;
    background-color: #0C304E;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}

.advertCardTextBox h3 {
    font-weight: lighter;
}

.advertLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #2389DE;
    font-size: small;
    margin-bottom: 40px;
}

.advertLinks a {
    color: #2389DE;
    text-decoration: none;
    font-size: 14px;
}

.removeAdvert {
    padding-top: 50px;
    color: #2389DE;
}

.cardBody {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1190px) {}

.navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.logo img {
    height: 2rem;
    align-self: center;
    justify-self: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links.open {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    position: absolute;
    top: 60px;
    /* Adjust top position based on your navbar height */
    right: 0;
    width: 100%;
    text-align: center;
}

.nav-links li {
    margin: 10px 6px;
}

.nav-links a {
    display: flex;
    color: #2389DE;
    text-decoration: none;
}

.burger-menu {
    display: none;
    /* Hidden by default on larger screens */
    color: #2389DE;
    font-size: 2rem;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 971px) {
    .sidebar{
        display: none;
    }
    .navbar{
        display: flex;
    }

    .burger-menu {
        display: block;
        /* Display burger menu icon on smaller screens */
    }

    .nav-links {
        display: none;
        /* Hide the nav links on smaller screens */
    }
}

@media (max-width: 1140px) {
    .cardContainer{
        display: flex;
        flex-direction: column;
    }
    .leftCardBox{
        width: 100%;
        height: fit-content;
    }
    .rightCardBox{
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 700px) {
    body{
        width: 100%;
        overflow-x: hidden;
    }
    .cardContainer{
        width: 100%;
    }
    .contentHeader {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 20px;
        margin-bottom: 15px;
    }
    .headerHanger{
        flex-direction: column;
        height: fit-content;
    }
    .headerSearchbox {
        align-self: self-start;
    }
    .gameCurrency {
        display: flex;
        align-self: self-start;
        text-align: right;
    }
}
