@import url('https://fonts.cdnfonts.com/css/inter');

body {
    max-height: 100vh;
    overflow-y: hidden;
}

.page-container {
    display: flex;
    height: 100vh;
    font-family: inter;
    overflow-y: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 .5rem gray;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu img {
    height: 39px;
    width: auto;
    margin-left: 5px;
    display: block;
    padding-bottom: 10px;
}

.sidebar-menu li {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sidebar-menu li:hover {
    background-color: #555;
}

.dashboardLeftSideTop {
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 10px
}

.dashboardLeftSideTop a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5A5A;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
    align-self: center;
}

.dashboardLeftSideTop a .icons {
    align-self: center;
    margin: auto;
    justify-self: center;
    font-size: large;
    margin-right: 10px;
    justify-content: center;
}

.dashboardLeftSideTop .menuLink {
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.dashboardLeftSideTop .menuLink:hover {
    background-color: #e9f2f9;
    cursor: pointer;
}

.dashboardLeftSideTop .menuLinkSelected {
    background-color: #E9F3FC;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.menuLinkBottom {
    margin-bottom: 10px
}

.menuLinkBottom a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5A5A;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
}

.menuLinkBottom a .icons {
    align-self: center;
    margin: auto;
    justify-self: center;
    font-size: medium;
    margin-right: 10px;
}

.menuLinkBottom .menuLink {
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.menuLinkBottom .menuLink:hover {
    background-color: #e9f2f9;
    cursor: pointer;
}

.menuLinkBottom .menuLinkSelected {
    background-color: #E9F3FC;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.sideBarBottom {
    margin-bottom: 10px
}

.sideBarBottom a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5A5A;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
}

.sideBarBottom a .icons {
    align-self: center;
    margin: auto;
    justify-self: center;
    font-size: medium;
    margin-right: 10px;
}

.sideBarBottom .menuLink {
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.sideBarBottom .menuLink:hover {
    background-color: #e9f2f9;
    cursor: pointer;
}

.sideBarBottom .menuLinkSelected {
    background-color: #E9F3FC;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profileBox{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    height: fit-content;
    margin: auto;
    padding-right: 20px;
    padding-left: 10px;
}

.profileBox img{
    height: 100%;
    align-self: center;
}

.profileBox .profileText{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    align-self: center;
}

.profileBox .profileText h4{
    font-size: 16px;
    line-height: 10px;
    margin-bottom: 0px;
    font-weight: 300;
}

.profileBox .profileText h6{
    margin-top: 7px;
    font-weight: 300;
}

.profileBox .icons{
    align-self: center;
    padding-left: 10px;
}

.content {
    flex: 1;
    padding: 20px 40px;
}

.contentNavbar {
    width: auto;
    margin: auto;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.welcomeText {
    display: flex;
    margin-bottom: 0;
    padding-bottom: 0;
}

.welcomeText h1 {
    align-self: center;
    font-family: inter;
    font-size: 26px;
}

.welcomeText h1 span {
    font-weight: 200;
    font-family: inter;
    font-size: 20px;
}

.searchBox {
    display: flex;
    justify-content: right;
    padding-bottom: 0;
    margin-bottom: 0;
}

.searchBox .icons{
    align-self: center;
    color: #272727;
    position: absolute;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.searchBar{
    display: flex;
    width: 70%;
    background-color: #F2F2F2;
    height: fit-content;
    border-radius: 5px;
}

.searchInput {
    align-self: center;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 5px 25px;
}

.searchInput:focus{
    border-color: #2389DE;
}

.searchInput::placeholder{
    font-size: 16px;
    padding: 25px;
}

.dropdownBox {
    margin-top: 0;
    padding-top: 0;
    display: flex;
}

.dropdownBox select {
    align-self: top;
    height: 40px;
    width: fit-content;
    border: none;
    padding-top: 0;
    margin-top: 0;
    font-size: 16px;
}

.currencyBox .gameCurrency {
    display: flex;
    align-self: center;
    text-align: right;
    justify-content: right;
}

.currencyBox .gameCurrency h4 {
    padding: 10px;
    font-weight: 400;
    font-family: inter;
    display: flex;
    align-self: center;
    font-size: 20px;
    padding-top: 0;
    margin-top: 0;
}


.gameCurrency h4 img {
    height: 25px;
    align-items: center;
    align-self: center;
    margin-top: 2px;
    margin-right: 3px;
}

.gameCurrency h4 .icons {
    font-size: larger;
    padding-right: 3px;
    color: #2389DE;
}

.gameCurrency h4 .icons-heart {
    font-size: larger;
    padding-right: 3px;
    color: red;
}

.cardContainer {
    height: calc(100vh - 200px);
    display: flex;
}

.leftCardBox {
    margin-top: 10px;
    width: 60%;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    margin-bottom: 10px;
    padding-bottom: 300px;
}

.leftCardBox::-webkit-scrollbar, .rightCardBox::-webkit-scrollbar{
    display: none;
}

.rightCardBox {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    justify-content: end;
    width: 40%;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    margin-bottom: 10px;
    padding-bottom: 60vh;
}







.card {
    width: 80%;
    margin: auto;
    margin-left: 0;
    background-color: #F2F2F2;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 26px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-left: 17px;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-content: center;
    width: fit-content;
    justify-content: space-between;
}

.cardHeader h1 {
    font-size: 16px;
    align-self: center;
    color: #2389DE;
    padding-right: 10px;
}

.cardHeader a {
    align-content: end;
    color: #2389DE;
    padding-left: 10px;
}

.bullet {
    width: 14px;
    height: 14px;
    background-color: #2389DE;
    border-radius: 50%;
    align-self: center;
}

.cardBody {
    width: 100%;
    margin: auto;
    margin-top: 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.progressBar {
    height: 15px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    margin-top: 0;
    padding: 0;
    box-shadow: 0 0 .05rem gray;
    display: flex;
    justify-content: space-between;
}

.progressBar img{
    align-self: center;
    height: 25px;
}

.progress {
    height: 15px;
    width: 33%;
    background-color: #2389DE;
    border-radius: 10px;
}

.progressText{
    width: 303%;
    background-color: transparent;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
}

.bodyText h4 {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.bodyText p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.bodyText h3 {
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.bodyImage .card1img{
    height: 170px;
    width: auto;
}

.bodyImage img {
    height: 140px;
    width: auto;
}

.cardButton {
    margin-top: 25px;
}

.cardButton a {
    padding: 10px 15px;
    background-color: #2389DE;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}


.smallCard {
    width: 85%;
    margin-right: 0;
    padding-right: 0;
    background-color: #F2F2F2;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 26px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.smallCardTextBox {
    display: flex;
    flex-direction: column;
}

.smallCardTextBox h2 {
    font-size: 18px;
    font-family: inter;
}

.smallCardTextBox p {
    margin-top: 0;
    align-self: center;
}

.smallCardTextBox a {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #2389DE;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: fit-content;
    text-decoration: none;
}

.smallCard img {
    height: 100px;
    align-self: center;
}

.smallCard .trophyImage {
    height: 200px;
    align-self: center;
}

.smallCardTextBox .smallCardLink {
    color: #2389DE;
    background-color: transparent;
    padding-top: 30px;
    text-decoration: underline;
}


.advertCard {
    width: 85%;
    margin-right: 0;
    padding-right: 0;
    background-color: #F2F2F2;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 26px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.advertCardTextBox {
    width: 95%;
    margin-right: 5px;
    align-self: center;
    background-color: #0C304E;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}

.advertCardTextBox h3 {
    font-weight: lighter;
}

.advertLinks .advertIcons{
    margin-left: -10px;
    padding-left: 0;

}

.advertLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #2389DE;
    font-size: small;
    margin-bottom: 40px;
    margin: auto;
    width: 100%;
    padding: 0;
}

.advertLinks a {
    color: #2389DE;
    text-decoration: none;
    font-size: 14px;
}

.removeAdvert {
    padding-top: 50px;
    color: #2389DE;
}

.cardBody {
    display: flex;
    flex-direction: row;
}







.navbar {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.logo img {
    height: 2rem;
    align-self: center;
    justify-self: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links.open {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    position: absolute;
    top: 60px;
    /* Adjust top position based on your navbar height */
right: 0;
    width: 100%;
    text-align: center;
}

.nav-links li {
    margin: 10px 6px;
}

.nav-links a {
    display: flex;
    color: #2389DE;
    text-decoration: none;
}

.burger-menu {
    display: none;
    /* Hidden by default on larger screens */
 color: #2389DE;
    font-size: 2rem;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 971px) {
    .sidebar{
        display: none;
    }
    .navbar{
        display: flex;
        padding: 0px 50px;
    }

    .burger-menu {
        display: block;
        padding-right: 10px;
        /* Display burger menu icon on smaller screens */
    }

    .nav-links {
        display: none;
        /* Hide the nav links on smaller screens */
    }
}

@media (max-width: 1140px) {
    .contentNavbar{
        padding: 0px 10px;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 100vh;
        overflow-y: scroll;
    }
    .leftCardBox{
        width: 100%;
        height: fit-content;
        overflow-y: visible;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .Card{
        margin-bottom: 10px;
    }
    .rightCardBox{
        width: 90%;
        margin: auto;
        align-self: center;
        height: fit-content;
        overflow-y: visible;
    }
    .cardContainer::-webkit-scrollbar{
        display: none;
    }
    .card{
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
    }
    .smallCard{
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }
    .advertCard{
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }
}

@media (max-width: 750px) {
    .contentNavbar{
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
    }
    .currencyBox .gameCurrency {
        display: flex;
        align-self: center;
        text-align: left;
        justify-content: left;
    }
    .dropdownBox select{
        margin-top: 10px;
    }
    .searchBox{
        justify-self: flex-start;
        align-self: flex-start;
        width: 95%;
    }
    .searchBar{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .bodyImage img {
        height: 100px;
        width: auto;
    }
}

@media (max-width: 350px) {
    .bodyImage img {
        height: 70px;
        width: auto;
    }
}