@import url('https://fonts.cdnfonts.com/css/inter');

.error-overlay {
    height: fit-content;
    position: fixed;
    bottom: 0;
    /* Display at the bottom */
    left: 0;
    width: 100%;
    background-color: #F7E9E9;
    border: 1px solid #F7E9E9;
    display: flex;
    justify-content: center;
}

.error-alert {
    position: relative;
    /* Adjust positioning */
    width: 100%;
    /* Adjust width */
    /* Set max-width for responsiveness */
    padding: 15px;
    background-color: #F7E9E9;
    color: #CB1A14;
    border-radius: 4px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.close-btn {
    position: absolute;
    /* Adjust positioning */
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
}

.error-alert-left h1 {
    font-size: 26px;
    font-family: inter;
}

.error-alert-left h3 {
    font-size: 16px;
    font-family: inter;
}

.error-alert-right{
    align-self: center;
}

.error-alert-right a{
    color: #F7E9E9;
    padding: 10px 30px;
    background-color: #CB1A14;
    border-radius: 10px;
    text-decoration: none;
}