.step2{
    width: 100%;
    display: flex;
    height: 100vh;
}

.leftStep2Box{
    width: 80%;
    margin: auto;
    height: fit-content;
    align-self: flex-start;
    margin-top: 6%;
}

.leftStep2{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 243, 252, 1);
}

.leftStep2 img{
    height: 35px;
    width: auto;
}

.leftStep2 h1{
    font-size: 35px;
    color: rgba(12, 48, 78, 1);
    margin-top: 25px;
    margin-bottom: 0;
}

.leftStep2 p{
    font-size: 15px;
    color: rgba(118, 118, 118, 1);
    word-spacing: 10px;
    font-weight: 400;
    font-family: inter;
    margin-top: 20px;
}

.secondImage{
    position: absolute;
    bottom: 0;
    left: 15%;
    transform: translateX(-50%);
}

.secondImage img{
    width: 180px;
    height: 220px;
}

.rightStep2Box .icons{
    color: black;
    top: 15px;
    right: 35px;
    position: absolute;
}
.prog1{
    margin-bottom: 0px;
}
.prog1 img{
    margin-top: 30px;
    margin-bottom: 0px;
    width: 384px;
    height: 6px;
    gap: 0px;
    opacity: 0px;
    
}

.progText1{
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
}

.rightStep2{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightStep2Box{
    width: 100%;
    margin-top: 80px;
    height: fit-content;
    align-self: center;
    text-align: center;
}

.rightStep2Box h2{
    font-size: 34px;
    font-family: inter;
    font-weight: 600;
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.style li :focus{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 0;
    padding:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2389DE;
    border-radius:5px;
    text-decoration: none;
    
}

.buttons li :hover{
    background-color: #2389DE;
    color: white;
}

.button1{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(118, 118, 118, 1);
    border-radius: 5px;
    color: rgba(118, 118, 118, 1);
    text-decoration: none;
    transition: all 0.2s ease;
}

.button2{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    margin-bottom: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(236, 236, 236, 1);
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

