@import url("https://fonts.cdnfonts.com/css/inter");

body {
  max-height: 100vh;
  overflow-y: scroll;
}

.step1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: auto;
}

.step1 img{
    margin-bottom: 30px;
}

.step1 p{
    font-family: inter;
    font-size: 40px;
    font-weight: 600;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}

.step1 p:last-of-type{
  font-size: 15px;
  font-family: inter;
  font-weight: 400;
  line-height: 26px;
}
.step1Button1{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding:8px;
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2389DE;
    border-radius:5px;
    text-decoration: none;
    
}

.step1Button2{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(118, 118, 118, 1);
    border-radius: 5px;
    color: rgba(118, 118, 118, 1);
    text-decoration: none;
}
