
.step3{
    width: 100%;
    display: flex;
    height: 100vh;
}

.leftStep3Box{
    width: 80%;
    margin: auto;
    height: fit-content;
    align-self: flex-start;
    margin-top: 6%;
}

.leftStep3{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 243, 252, 1);
}

.leftStep3 img{
    height: 35px;
    width: auto;
}

.leftStep3 h1{
    font-size: 35px;
    color: rgba(12, 48, 78, 1);
    margin-top: 25px;
    margin-bottom: 0;
}

.leftStep3 p{
    font-size: 15px;
    color: rgba(118, 118, 118, 1);
    word-spacing: 10px;
    font-weight: 400;
    font-family: inter;
    margin-top: 20px;
}

.prog2{
    margin-bottom: 0px;
}
.prog2 img{
    margin-top: 30px;
    margin-bottom: 0px;
    width: 384px;
    height: 6px;
    gap: 0px;
    opacity: 0px;
    
}

.progText2{
    display: flex;
    justify-content: space-between;
    margin-top: -12px;
}

.secondImage{
    position: absolute;
    bottom: 0;
    left: 15%;
    transform: translateX(-50%);
}

.secondImage img{
    width: 180px;
    height: 220px;
}

.rightStep3Box .icons{
    color: black;
    top: 15px;
    right: 35px;
    position: absolute;
}

.rightStep3{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightStep3Box{
    width: 100%;
    margin: auto;
    height: fit-content;
    align-self: center;
    text-align: center;
}

.rightStep3Box h2{
    font-size: 34px;
    font-family: inter;
    font-weight: 600;
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.rightbuttons{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

/* .button1{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #2389DE;
    border-radius:5px;
    text-decoration: none;
    
} */

.rightbutton1{
    width: 400px;
    height: 28px;
    margin-top: 40px;
    font-family: inter;
    font-size: 15px;
    padding: 13px 15px 9px 15px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid rgba(118, 118, 118, 1);
    border-radius: 5px;
    color: rgba(118, 118, 118, 1);
    text-decoration: none;
    transition: all 0.2s ease;
    
}

/* .rightbutton1{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

button{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    background-color: white;
    border: 1px solid rgba(118, 118, 118, 1);
    border-radius: 5px;
    color: rgba(118, 118, 118, 1);
    text-decoration: none;
}

button :focus{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #2389DE;
    border-radius:5px;
    text-decoration: none;
} */

.rightbutton2{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(236, 236, 236, 1);
    color: black;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.rightbuttons li :hover{
    color: white;
    background-color: #2389DE; 
}

/* li:focus{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #2389DE;
    border-radius:5px;
    text-decoration: none;
} */

/* li :hover{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #2389DE;
    border-radius:5px;
    text-decoration: none;
} */

.rightbuttons li :focus{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 13px 15px 7px 15px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #2389DE;
    border-radius:5px;
    text-decoration: none;
}

.lastbutton li :focus{
    width: 400px;
    height: 30px;
    font-family: inter;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #2389DE;
    border-radius:5px;
    text-decoration: none;
}

