@import url('https://fonts.cdnfonts.com/css/inter');

.landingPageContainer{
    overflow-y: scroll;
    height: 100vh;
}



.landingnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 0 .2rem gray;
    /* Change the background color as needed */
}

.landingnavbar-logo img{
    height: 38px;
    width: auto;
    /* Adjust the font size as needed */
}

.landingnavbar-links {
    display: flex;
}

.landingnavbar-links a {
    margin-right: 15px;
    /* Adjust the spacing between links as needed */
    color: grey;
    /* Change the link color as needed */
    text-decoration: none;
}

.landingnavbar-links-right {
    margin-left: auto;
}

.landingnavbar-links-right button{
    background-color: #2389DE;
}

.rightLinkButton{
    color: white;
    padding: 10px;
    background-color: #2389DE;
    border-radius: 5px;
}

.navbar-links-right a{
    text-decoration: none;
    padding: 10px;
    color: #2389DE;
    size: 14px;
    font-weight: 400;
}

.navbar-links-right .rightButton{
    color: white;
    padding: 10px;
    background-color: #2389DE;
    border-radius: 10px;
    margin-right: 10px;
}

.navbar-links-right .icons{
    color: #2389DE;
    align-self: center;
}

.navbar-links-right .icons:hover{
    cursor: pointer;
}


.landingHome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: 0 0 .2rem gray;
}

.landingHomeTextBox{
    width: 90%;
    margin: auto;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.landingHomeTextBox h1{
    font-size: 54px;
    font-family: inter;
    font-weight: 500;
    line-height: 1rem;
}

.landingHomeTextBox p{
    font-weight: 20px;
    color: #98A2B3;
    width: 45%;
    margin: auto;
}

.buttonBox{
    padding-top: 20px;
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.buttonBox .leftButton{
    padding: 10px;
    background-color: #2389DE;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin-right: 5px;
    display: flex;
}

.leftButton a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    align-self: center;
}

.leftButton .icons{
    align-self: center;
    padding-left: 10px;
}

.buttonBox .rightButton{
    padding: 10px;
    background-color: white;
    color: #2389DE;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #2389DE;
    margin-left: 5px;
    display: flex;
}

.rightButton a{
    color: #2389DE;
    font-size: 14px;
    text-decoration: none;
    align-self: center;
}

.rightButton .icons{
    align-self: center;
    padding-left: 10px;
}

.landingHome img{
    width: 80%;
    margin: auto;
    box-shadow: 0 0 .2rem gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
}


.communitySection {

    height: 100vh;
    /* margin: 0; */

    height: fit-content;
    margin: 0;

    padding: 20px;
    text-align: center;
    margin-bottom: 200px;
    margin-top: 80px;
}

.communitySection h2{
    width: 75%;
    margin: auto;
    font-size: 50px;
    font-family: inter;
    font-weight: 400;
}

.communityCard{
    background-color: #E9F3FC;
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0 0 .3rem grey;
    display: flex;
    padding: 20px;
}

.communityCard img{
    height: 90px;
    width: auto;
    padding-right: 0;
    margin-right: 0;
}

.communityCardText{
    text-align: left;
    width: 100%;
    flex-direction: row;
    padding-left: 10px;
    margin-left: 0;
}

.communityCardText .special{
    font-size: 21px;
    display: inline-block;
    white-space: nowrap;
    /* padding-top: 20px; */
}

.communityCardText h2{
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    line-height: 1rem;
}

.communityCardText h6{
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1rem;
    font-weight: 200;
}

.communityCardText p{
    font-size: 18px;
}

.communityCardGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: auto;
   
}

.leftcardMargin{
margin-right: 22px;
margin-left: -15px;
}

.rightCardMargin{
margin-left: 10px;
}

.footerContainer {
    height: fit-content;
    width: 100%;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.linkBox{
    height: 300px;
    width: 90%;
    margin: auto;
    display: flex;
    border-bottom: 1px #98A2B3 solid;
    margin-bottom: 5px;
}

.leftLinkBox{
    align-items: start;
    justify-content: left;
    text-align: left;
    padding-right: 70px;
}

.leftLinkBox img{
    height: 35px;
    width: auto;
}

.leftLinkBox p{
    font-size: 14px;
    font-weight: 200;
    font-family: inter;
}

.leftLinkButtonBox{
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.leftLinkButtonBox a{
    align-self: center;
    width: 40%;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: #2389DE;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.leftLinkButtonBox input{
    border: .5px solid grey;
    width: 55%;
    border-radius: 10px;
}

.leftLinkButtonBox input::placeholder{
    padding-left: 10px;
}

.rightLinkBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.rightListBox{
    padding-left: 85px;
    width: fit-content;
    text-align: left;
}

.rightListBox ul{
    list-style: none;
    width: fit-content;
}

.rightListBox li{
    color: #98A2B3;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: inter;
}


.rightListBox li span{
    font-size: 12px;
}


.lowerFooterText{
    height: fit-content;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 0;
}

.lowerFooterLeft{
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.lowerFooterLeft li{
    list-style: none;
    padding-right: 20px;
    font-size: 14px;
    color: #98A2B3;
}

.lowerFooterRight li{
    list-style: none;
    padding-right: 20px;
    font-size: 14px;
    color: #98A2B3;
}



.imageOne img {
  height: 400px;
  width: auto;
}
.smallText {
  font-size: small;
  color: #98a2b3;
  text-align: center;
}

.leftIcon {
  flex: 1;
}



.smallTextTwo {
  font-size: small;
  color: #98a2b3;
  text-align: center;
}

.imageTwo img {
  height: 280px;
  width: auto;
}




.fullLP {
    max-height: fit-content;
}

.fullLP::-webkit-scrollbar {
    display: none;
}

.card3Container {
    background-color: #2389de;
    padding: 20px 90px 40px 90px;
}

/* .background-container{
    background-image: `
} */

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card3Container header {
    width: 696px;
    height: 115px;
    font-size: 50px;
    font-weight: 500;
    font-family: inter;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

.cardBody {
    display: flex;
    flex-direction: row;
}

.topParagraph {
    color: white;
    font-size: 30px;
    font-family: inter;
}

.smallParagraph {
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: inter;
}

.rightBody h5 {
    color: rgba(225, 225, 225, 1);
    font-weight: 100;
    font-family: inter;
    font-size: 15px;
    line-height: 20px;
}

.card3Container hr {
    width: 300px;
    margin: 0;
    padding: 0;

}

.card3Container a {
    text-decoration: none;
}

.leftBody img {
    height: 350px;
    /* width: 700px; */

}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}

.buttonContainer button {
    margin-right: 30px;
}

.button1 {
    color: #2389de;
    background-color: white;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    font-family: inter;
    width: 210px;
    height: 50px;
    padding: 0px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    margin-left: 8px;
    margin-top: 4px;
}

.button2 {
    width: 134px;
    height: 50px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    padding: 17px 20px 17px 20px;
    text-align: center;
    font-size: 18px;
    background-color: #2389de;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}




.frequentlyAskedQuestions {
    width: 100%;
    background-color: #F9FAFB;
    text-align: center;
    overflow-x: hidden;  
}

.frequentlyAskedQuestions h1 {
    font-weight: 500;
    font-family: inter;
    font-size: 50px;
}

.questionsBox {
    width: 70%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
}


















    .sidebar {
        display: none;
    }

    .landingnavbar {
        display: none;
    }

    .navbar {
        display: flex;
        padding: 0px 7px;
    }

    .burger-menu {
        display: block;
        padding-right: 10px;
    }

    .nav-links {
        display: none;
    }

@media (max-width: 1200px) {
    .sectionThreeHorizontalCard {
        flex-direction: column;
    }

    .sectionThreeHorizontalCardLeft {
        align-self: flex-start;
        width: fit-content;
    }

    .sectionThreeHorizontalCardRight img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .sectionThreeGrid {
        justify-content: center;
        align-content: center;
    }

    .sectionThreeGridLeft {
        margin: auto;
        margin-bottom: 20px;
        width: 40%;
        height: fit-content;
    }

    .sectionThreeGridLeftImageBox .sectionImage {
        align-self: center;
        height: auto;
        width: 90%;
        padding-bottom: 0;
    }

    .communityCardGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;
    }

    .rightLinkBox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 20px;
    }

    .rightListBox {
        padding-left: 85px;
        width: fit-content;
        text-align: left;
    }

    .rightListBox ul {
        list-style: none;
        width: fit-content;
    }

    .rightListBox li {
        color: #98A2B3;
        padding: 5px;
        font-size: 14px;
        margin-bottom: 10px;
        font-family: inter;
    }


    .rightListBox li span {
        font-size: 12px;
    }
    .linkBox {
        height: fit-content;
        width: 90%;
        margin: auto;
        display: flex;
        border-bottom: 1px #98A2B3 solid;
        margin-bottom: 5px;
    }

}

@media (max-width: 1150px) {
    
}

@media (max-width: 830px) {
    .landingHome {
        width: 100%;
        height: 90vh;
    }

    .landingHomeTextBox h1 {
        font-size: 40px;
    }
}

@media (max-width: 950px) {
    .questionsBox {
        width: 70%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .landingHome{
        height: 80vh;
    }
    .landingHomeTextBox h1 {
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .landingHome{
        height: 60vh;
    }
    .landingHomeTextBox h1{
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .landingHomeTextBox h1{
        font-size: 22px;
    }
} */

.sectionThree{
    width: 90vw;
    margin: auto;
    padding: 30px;
    height: fit-content;
}

.sectionThree .headerText{
    text-align: center;
    font-family: inter;
    font-size: 50px;
    font-weight: 500;
}

.sectionThreeHorizontalCard{
    width: 85%;
    margin: auto;
    height: fit-content;
    background-color: #F9FAFB;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 .05rem gray;
}

.sectionThreeGrid{
    width: 85%;
    margin: auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

.sectionThreeHorizontalCardText{
    width: 40%;
}

.sectionThreeHorizontalCardText img{
    width: 50px;
    height: 50px;
    color: white;
}

.sectionThreeHorizontalCardText h1{
    font-family: inter;
    font-weight: 500;
    font-size: 30px;
}

.sectionThreeHorizontalCardImage{
    width: 60%;
}

.sectionThreeHorizontalCardImage img{
    width: 90%;
}


.sectionThreeGridCard{
    width: 45%;
    height: fit-content;
    background-color: #F9FAFB;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 .05rem gray;
}

.sectionThreeGridCard img{
    width: 50px;
    height: 50px;
}

.sectionThreeGridCard h1{
    font-family: inter;
    font-weight: 500;
    font-size: 30px;
}

.sectionThreeGridCardRight{
    width: 90%;
    margin: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionThreeGridCardRight img{
    width: 90%;
    height: auto;
}

.sectionThreeGridCardRight1{
    width: 90%;
    margin: auto;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionThreeGridCardRight1 img{
    height: 90%;
    width: auto;
}


@media (max-width: 950px) {
    .questionsBox {
        width: 70%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
    }
    .cardBody {
        display: flex;
        flex-direction: column;
    }
    .rightBody{
        align-self: center;
    }
    .leftBody{
        align-self: center;
    }
}

@media (max-width: 1200px) {
    
}

@media (max-width: 1050px) {
    .linkBox{
        flex-direction: column;
        justify-content: center;
    }

}


