@import url('https://fonts.cdnfonts.com/css/inter');



.fullLP{
    max-height: 100vh;
    overflow-y: scroll;

}
.fullLP::-webkit-scrollbar{
    display: none;
}

.card3Container{
    background-color: #2389de;
    padding: 20px 90px 40px 90px;   
}

/* .background-container{
    background-image: `
} */

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card3Container header{
    width:696px;
    height: 115px;
    font-size: 50px;
    font-weight: 500;
    font-family: inter;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

.cardBody{
    display: flex;
    flex-direction: row;
}

.topParagraph{
    color: white;
    font-size: 30px;
    font-family: inter;
}

.smallParagraph{
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: inter;
}

.rightBody h5{
    color: rgba(225, 225, 225, 1);
    font-weight: 100;
    font-family: inter;
    font-size: 15px;
    line-height: 20px;
}

.card3Container hr{
    width: 300px;
    margin: 0;
    padding: 0;
    
}

.card3Container a{
    text-decoration: none;
}

.leftBody img{
    height: 390px;
    /* width: 700px; */
    
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    
}

.buttonContainer button{
    margin-right: 30px;
}

.button1{
    color: #2389de;
    background-color: white;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    font-family: inter;
    width: 210px;
    height: 50px;
    padding: 0px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons{
    margin-left: 8px;
    margin-top: 4px;
}

.button2{
    width: 134px;
    height: 50px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    padding: 17px 20px 17px 20px;
    text-align: center;
    font-size: 18px;
    background-color: #2389de;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}





