@import url('https://fonts.cdnfonts.com/css/inter');

.language-overlay {
    height: fit-content;
    position: fixed;
    margin-top: 0;
    top: 0;
    /* Display at the bottom */
    left: 0;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}

.language-alert {
    position: relative;
    /* Adjust positioning */
    height: fit-content;
    width: 15%;
    align-self: flex-end;
    /* Adjust width */
    /* Set max-width for responsiveness */
    background-color: white;
    color: #CB1A14;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    box-shadow: 0 0 .1rem gray;
}

.language-alert li{
    padding: 10px;
    list-style: none;
    color: black;
    border-bottom: 1px solid #E9F3FC;
}

.language-alert li:hover{
    cursor: pointer;
    background-color: #E9F3FC;
}

.language-alert .active{
    background-color: #E9F3FC;
}

/* .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
}


.language-alert-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
}

.language-alert-left h1{
    color: black;
    font-size: 25px;
}

.language-alert-left p{
    width: 70%;
    color: #767676;
    font-weight: 300;
    font-family: inter;
}

.language-alert-left img{
    height: 90%;
}

.error-alert-left h1 {
    font-size: 26px;
    font-family: inter;
}

.error-alert-left h3 {
    font-size: 16px;
    font-family: inter;
}

.language-alert-right{
    align-self: center;
    width: 50%;
    background-color: #FFF1EA;
    height: 50vh;
    padding: 10px;
    text-align: left;
}

.language-alert-right h3{
    margin: 10px;
    padding: 0;
}

.language-alert-right h3 a{
    color: black;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.language-alert-right p{
    color: black;
    font-weight: 200;
    font-family: inter;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.error-alert-right a{
    color: #F7E9E9;
    padding: 10px 30px;
    background-color: #CB1A14;
    border-radius: 10px;
    text-decoration: none;
}

.closeTray{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.closeTray a{
    display: flex;
    align-self: center;
    margin: auto;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: xx-large;
    box-shadow: 0 0 .5rem black;
    border-radius: 50%;
}

.selectoneI{
    transform: rotate(180deg);
    border: none;
    margin: 0;
    padding: 0;
} */

.language-alert a{
    text-decoration: none;
}