@import url('https://fonts.cdnfonts.com/css/inter');

body {
    max-height: 100vh;
    overflow-y: hidden;
}

.page-container {
    display: flex;
    height: 100vh;
    font-family: inter;
    overflow-y: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 272px;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 .5rem gray;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu img {
    height: 39px;
    width: auto;
    margin-left: 5px;
    display: block;
    padding-bottom: 10px;
}

.sidebar-menu li {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.sidebar-menu li:hover {
    background-color: #555;
}

.leaderboardLeftSideTop {
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 10px
}

.leaderboardLeftSideTop a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5A5A;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
    align-self: center;
}

.leaderboardLeftSideTop a .icons {
    align-self: center;
    margin: auto;
    justify-self: center;
    font-size: large;
    margin-right: 10px;
    justify-content: center;
}

.leaderboardLeftSideTop .menuLink {
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.leaderboardLeftSideTop .menuLink:hover {
    background-color: #e9f2f9;
    cursor: pointer;
}

.leaderboardLeftSideTop .menuLinkSelected {
    background-color: #E9F3FC;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menuLinkBottom {
    margin-bottom: 10px
}

.menuLinkBottom a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5A5A;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
}

.menuLinkBottom a .icons {
    align-self: center;
    margin: auto;
    justify-self: center;
    font-size: medium;
    margin-right: 10px;
}

.menuLinkBottom .menuLink {
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.menuLinkBottom .menuLink:hover {
    background-color: #e9f2f9;
    cursor: pointer;
}

.menuLinkBottom .menuLinkSelected {
    background-color: #E9F3FC;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}



.sideBarBottom {
    margin-bottom: 10px
}

.sideBarBottom a {
    text-decoration: none;
    font-size: 14px;
    color: #5A5A5A;
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #FFFFFF;
}

.sideBarBottom a .icons {
    align-self: center;
    margin: auto;
    justify-self: center;
    font-size: medium;
    margin-right: 10px;
}

.sideBarBottom .menuLink {
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
}

.sideBarBottom .menuLink:hover {
    background-color: #e9f2f9;
    cursor: pointer;
}

.sideBarBottom .menuLinkSelected {
    background-color: #E9F3FC;
    width: 90%;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.profileBox{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    height: fit-content;
    margin: auto;
    padding-right: 20px;
    padding-left: 10px;
}

.profileBox img{
    height: 100%;
    align-self: center;
}

.profileBox .profileText{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    align-self: center;
}

.profileBox .profileText h4{
    font-size: 16px;
    line-height: 10px;
    margin-bottom: 0px;
    font-weight: 300;
}

.profileBox .profileText h6{
    margin-top: 7px;
    font-weight: 300;
}

.profileBox a .icons{
    align-self: center;
    padding-left: 10px;
    font-size: 25px;
    color: black;
}

/* .Leaderboardcontent {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
} */

.leaderboardContainer{
    width: 90%;
    margin: auto;
    align-self: center;
    height: 90%;
    background-color: transparent;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.leaderboardTop{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.leaderboardLeft{
    width: 30%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
}

.leaderboardLeftStepUp{
    margin-top: calc(160% - 60%);
    width: 100%;
    height: 60%;
    background-color: purple;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.leaderboardMiddle{
    width: 30%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
}
.leaderboardMiddleStepUp{
    margin-top: calc(110% - 60%);
    width: 100%;
    height: 90%;
    background-color: brown;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.leaderboardRight{
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
}

.leaderboardRightStepUp{
    margin-top: calc(210% - 60%);
    width: 100%;
    height: 37%;
    background-color: green;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.leaderboardBottom{
    width: 80%;
    height: 50%;
    background-color: transparent;
    margin: auto;
    overflow-y: scroll;
}

.leaderboardBottom::-webkit-scrollbar{
    display: none;
}

.leaderboardItem{
    max-width: 100%;
    height: 15%;
    background-color: #e9f2f9;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.leaderboardItem h2{
    font-size: 18px;
    align-self: center;
}

.leaderboardItem h3{
    font-size: 18px;
    align-self: center;
}