@import url('https://fonts.cdnfonts.com/css/inter');

.mainContainer{
    overflow-y: scroll;
    height: 100vh;
    font-family: inter;
}

.landingnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 0 .05rem gray;
    width: 87%;
}

.landingnavbar-logo img{
    height: 38px;
    width: auto;
    margin-left: 120px;
    /* Adjust the font size as needed */
}

.landingnavbar-links {
    display: flex;
}

.landingnavbar-links a {
    margin-right: 15px;
    /* Adjust the spacing between links as needed */
    color: grey;
    /* Change the link color as needed */
    text-decoration: none;
}

.landingnavbar-links-right {
    margin-left: auto;
}

.landingnavbar-links-right button{
    background-color: #2389DE;
}

.rightLinkButton{
    color: white;
    padding: 10px;
    background-color: #2389DE;
    border-radius: 5px;
}

.navbar-links-right a{
    text-decoration: none;
    padding: 10px;
    color: #2389DE;
    size: 14px;
    font-weight: 400;
}

.navbar-links-right .rightButton{
    color: white;
    padding: 10px;
    background-color: #2389DE;
    border-radius: 10px;
    margin-right: 10px;
}

.navbar-links-right .icons{
    color: #2389DE;
    align-self: center;
}

.navbar-links-right .icons:hover{
    cursor: pointer;
}


/* section two */

.firstreadmore_card {
flex: 1;
  width: 80%; /* Set width to 80% of the horizontal space */
  margin: 30px auto; /* Add margin on top and bottom, and center horizontally */ 
}

.firstreadmore_Container {
    background-color: #2389de;
    padding: 85px 60px;
    border-radius: 30px;
}

.readmoreButton1{
background-color: white;
border: none;
border-radius: 20px;
padding: 10px 12px;
color:#2389DE;
}
/* .background-container{
    background-image: `
} */

.header {
    align-items: center;
    flex-direction: column;
}

.rightBody header {
    width: 696px;
    height: 115px;
    font-size: 50px;
    font-weight: 500;
    font-family: inter;
    line-height: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
    color: white;
}

.cardBody {
    display: flex;
    flex-direction: row;
    
}


.rightBody h5 {
    color: rgba(225, 225, 225, 1);
    font-weight: 100;
    font-family: inter;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 40px;
}



.leftBody img {
    height: 300px;
    flex: 1;
    margin-left: -150px;

    /* width: 700px; */

}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

}

.buttonContainer button {
    margin-right: 30px;
}

.readmoreButton2 {
    color: #2389de;
    background-color: white;
    border: 1px;
    font-size: 16px;
    font-family: inter;
    width: 180px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.icons {
    margin-left: 8px;
    margin-top: 4px;
}

.leftBodybutton2 {
    width: 210px;
    height: 50px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    padding: 17px 20px 17px 20px;
    text-align: center;
    font-size: 18px;
    background-color: #2389de;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* third section */
.secondreadmore_container {
    display: flex; /* Use flexbox to layout elements */
   padding: 40px 60px; /* Add padding for spacing */
   width: 87%;
  }
  
  .image-container,
  .text-container {
    flex: 1; /* Each container takes up equal space */
  }
  
  .text-container h1{
  padding-top: 50px;
  font: inter;
  }
  
  .text-container p{
  line-height: 2.5;  
  padding-top: 30px;
  }
  
  .image-container img {
  flex: 1;
    max-width: 80%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 30px;    
  }







  .thirdreadmore_container{
    justify-content: space-between; /* Space out the items evenly */
    width: 80%; /* Set the width of the container to 80% */
    margin: 0 auto; /* Center the container horizontally */
    }
    

.thirdcontainer_cards img{
width: 50px;
height: 40px;

}

.thirdreadmore_container h1{
text-align: center;
}

.thirdcontainer_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    margin-right:-110px;
    margin-left:-50px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px; /* Add some margin between rows */
  }

  .left_card {
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 60px;
    margin: 25px; /* Add some margin around cards */
    max-width: 300px; /* Set maximum width for responsiveness */
    background-color:#E9F3FC;

;
  }
  
  .right_card {
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 60px;
    margin: 25px; /* Add some margin around cards */
    max-width: 300px; /* Set maximum width for responsiveness */
    background-color:#E9F3FC;
    
  }
  
  .card h2 {
    padding-top: 10px;
  }
  
  .card p{
  color: #6D7482;
  }











.testimonialsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(249, 250, 251, 1);
}



.testimonialsContainer h2{
    font-size: 45px;
    font-family: inter;
    font-weight: 500;
}

.testimonialBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 25px;
    margin-top: 30px;
}

.stars{
    color: rgba(255, 103, 0, 1);
}

.testimonial-card{
    width: 270px ;
    height: 270px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    padding: 40px;
}

.testimonial-card p{
    font-weight: 500;
    font-family: inter;
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 78, 152, 1);
}

.card-footer{
    display: flex;
    align-items: center;
    gap: 1px;
}

.card-footer img{
    width: 40px;
    height: 40px;
    border-radius: 55%;
}

.card-footer h4{
    font-size: 14px;
    font-family: inter;
    font-weight: 500;
    color: rgba(58, 110, 165, 1);
    margin-bottom: 0px;
    margin-left: 10px;
}

.card-footer p{
    font-size: 12px;
    font-family: inter;
    font-weight: 500;
    opacity: 70%;
    color: rgba(92, 113, 132, 1);
    margin-top: -4px;
    margin-left: 10px;
}

.see-allButton{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 150px;
    height: 48px;
    text-align: center;
    background-color: rgba(35, 137, 222, 1);
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    text-decoration: none;
}

.see-allButton p{
    margin-top: 15px;
    color: white;
    font-family: inter;
    font-size: 17px;
    font-weight: 500;
}

.bookDemo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #2389de;
}

.bookDemo-container h2{
    font-family: inter;
    color: white;
    font-weight: 500;
    font-size: 55px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.bookDemo-container p{
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.bookdemo-buuton{
    margin-top: 20px;
    margin-bottom: 40px;
}

.demoButton{
    color: rgba(0, 132, 180, 1);
    background-color: white;
    border: 1px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 17px;
    font-family: inter;
    width: 210px;
    height: 50px;
    padding: 0px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
}



.demoButton .icons{
    margin-left: 8px;
    margin-top: 4px;
    color: rgba(0, 132, 180, 1);
}

.footerContainer {
    height: fit-content;
    width: 100%;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.linkBox{
    height: fit-content;
    width: 90%;
    margin: auto;
    display: flex;
    border-bottom: 1px #98A2B3 solid;
    margin-bottom: 5px;
}

.leftLinkBox{
    align-items: start;
    justify-content: left;
    text-align: left;
    padding-right: 70px;
}

.leftLinkBox img{
    height: 35px;
    width: auto;
}

.leftLinkBox p{
    font-size: 14px;
    font-weight: 200;
    font-family: inter;
}

.leftLinkButtonBox{
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.leftLinkButtonBox a{
    align-self: center;
    width: 40%;
    height: 50px;
    text-align: center;
    align-content: center;
    background-color: #2389DE;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.leftLinkButtonBox input{
    border: .5px solid grey;
    width: 60%;
    border-radius: 10px;
    margin-right: 10px;
}

.leftLinkButtonBox input::placeholder{
    padding-left: 10px;
}

.rightLinkBox{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.rightListBox{
    padding-left: 85px;
    width: fit-content;
    text-align: left;
}

.rightListBox ul{
    list-style: none;
    width: fit-content;
}

.rightListBox li{
    color: #98A2B3;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: inter;
    line-break: none;
}


.rightListBox li span{
    font-size: 12px;
}


.lowerFooterText{
    height: fit-content;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 0;
    margin-bottom: 30px;
}

.lowerFooterLeft{
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.lowerFooterLeft li{
    list-style: none;
    padding-right: 20px;
    font-size: 14px;
    color: #98A2B3;
}

.lowerFooterRight li{
    list-style: none;
    padding-right: 20px;
    font-size: 14px;
    color: #98A2B3;
}



.imageOne img {
  height: 400px;
  width: auto;
}
.smallText {
  font-size: small;
  color: #98a2b3;
  text-align: center;
}

.leftIcon {
  flex: 1;
}



.smallTextTwo {
  font-size: small;
  color: #98a2b3;
  text-align: center;
}

.imageTwo img {
  height: 280px;
  width: auto;
}